footer .rocket-station {
	display:none;
	margin-top:0;
}
body {
	background-color:#ffb156;
}

#content img {
	vertical-align:middle;
	position:relative;
	left:-60px;
}
#content form {
	display:inline-block;
	max-width:46%;
	padding-top:60px;
}
#content form label {
	display:block;
}
#content form input[type=image] {
	display:block;
	float:right;
	margin-top:30px;
}
#content form input[type=password] {
	width:466px;
	height:50px;
	border:none;
	border-radius:10px;
	outline-width:0;
	font-size:16px;
	padding:10px;
}
#content form h2 {
	font-family:Mikado-Bold;
	font-size:27.5px;
	color:#707074;
}
#content form label {
	font-family:Asap-Regular;
	font-size:19.86px;
	color:#707074;
	margin-bottom:5px;
	margin-top:22px;
}
