.jumbotron .divider {
	background-image:url(../img/jumbotron-divider3.png);
}
.jumbotron {
	background-color:#54ebfd; 
}
footer {
	margin-top:-101px;
}
footer .rocket-station {
	display:none;
	margin-top:0;
}

body {
	background-color:#c8e7ff;
}
.jumbotron {
	height:600px;
}
.jumbotron .clouds {
	position:absolute;
	bottom:-70px;
	left:50%;
	margin-left:-500px;
	z-index:12;
}
.jumbotron .content {
	position:relative;
	padding-top:15px;
	padding-bottom:70px;
}
.jumbotron .content-left {
	width:50%;
	float:left;
}
.jumbotron .content-left img {
	position:relative;
	top:0;
	left:-80px;
}
.jumbotron .content-right {
	width:50%;
	float:right;
}
.jumbotron .content-right h2 {
	font-family:Mikado-Bold;
	font-size:27.5px;
	color:#707074;
	margin:50px 0 0 0;
}
.jumbotron .content-right label {
	display:block;
	font-family:Asap-Regular;
	font-size:19.86px;
	color:#707074;
	margin-top:20px;
	margin-bottom:8px;
}
.jumbotron .content-right input[type=email], .jumbotron .content-right input[type=password] {
	width:470px;
	height:50px;
	border:none;
	border-radius:10px;
	padding:10px;
	outline-width: 0;
	font-size:18px;
}
.jumbotron .content-right input.validate:invalid {
	border:2px solid red;
	background-image:url(../img/form-alert.png);
	background-repeat:no-repeat;
	background-position:98% 50%;
}
.jumbotron .content-right input[type=image] {
	margin-top:30px;
	margin-left:20px;
	outline-width: 0;
}
.jumbotron .content-right .login-help, .black-background .forgot {
	font-family:Asap-Bold;
	font-size:19.86px;
	color:#E80039;
	text-align: center;
	float:left;
	margin-top:50px;
}
.black-background .forgot {
	text-decoration:none;
	margin-top:40px;
}
.jumbotron .content-right .login-help a/*, .black-background .forgot*/ {
	display:block;
	font-family:inherit;
	color:inherit;
	text-decoration:none;
}
.jumbotron .content-right .form-help {
	top:10px;
	left:10px;
	position: relative;
}
.jumbotron .content-right .form-help-box {
	position:absolute;
	display:none;
}
.jumbotron .content-right .form-help-box#email-box {
	top:106px;
	right:32px;
}
.jumbotron .content-right .form-help-box#password-box {
	top:206px;
	right:32px;
}
.jumbotron .content-right .form-help:hover +.form-help-box {
	display:block;
}
.jumbotron .error {
	padding-top:15px;
	font-size:18.33px;
	font-family:Asap-Bold;
}

#content {
	padding-top:40px;
	text-align:center;
	position:relative;
	z-index:11;
	padding-bottom:60px;
}
#content .parents {
	padding-top:50px;
	overflow:hidden;
	padding-bottom:20px;
}
#content .parents > div {
	float:left;
	width:33%;
	text-align:center;
	font-family:Asap-Regular;
	font-size:19.86px;
	color:#626262;
}
#content .parents > div > p{
	max-width:295px;
	margin-left:20px;
}
#content .parents > div:nth-child(2) {
	position:relative;
	top:40px;
}
.black-background {
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.5);
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	z-index:100;
	display:none;
}
.black-background .remember-password-window {
	margin:0 auto;
	width:580px;
	height:320px;
	background-image:url(../img/remember-password-bg.png);
	background-size:100%;
	position:relative;
	top:50%;
	margin-top:-160px;
}
.black-background .remember-password-window .close, .new-parent-account-window .close {
	position:absolute;
	top:-15px;
	right:-15px;
	cursor:pointer;
	width:60px;
}
.black-background .remember-password-window .confirm {
	position:absolute;
	bottom:40px;
	right:0px;
	cursor:pointer;
	width:205px;
}
.remember-password-window {
	font-family:Asap-Regular;
	font-size:14.86px;
	color:#696969;
	padding-top:120px;
	padding-left:55px;
}
.remember-password-window p {
	margin:0;
	margin-bottom:20px;
}
.remember-password-window label {
	display:block;
	margin-bottom:5px;
	font-weight:bold;
}
.remember-password-window input {
	width:290px;
	height:40px;
	border:none;
	outline-width: 0;
	border-radius:10px;
	padding:15px;
	font-size:18px;
}
.remember-password-window .error {
	margin-bottom:10px;
	font-weight:bold;
	display:block;
	color:#e80039;
}
.remember-password-window .cop-speech {
	position:absolute;
	top:62px;
	right:130px;
}

.new-parent-account-window {
	margin:0 auto;
	width:580px;
	height:320px;
	background-image:url(../img/new-parent-account-bg.png);
	background-size:100%;
	position:relative;
	top:50%;
	margin-top:-160px;
	font-family:Asap-Regular;
	font-size:14.86px;
	color:#696969;
	padding-top:80px;
	padding-left:55px;
	padding-right:190px;
}
.new-parent-account-window .new-parent-account-btn {
	position:absolute;
	right:0;
	bottom:32px;
}

@media(min-width: 320px) and (max-width: 640px){
	.centralizer{
    	width:100%;
    	margin:0;    	
	}
	html, body{
		width: 100%;
	}
	.jumbotron .content-left,
	.jumbotron .content-right{
		float: none;
		width: 100%;
	}
	.jumbotron .content-left{
		min-height: 175px;
	}
	.jumbotron .divider{
		top: 81%;
	}
	.jumbotron.active-slide1{
		min-height: 1195px;		
	}
	.jumbotron{
		background: #5BCCFF;
	}
	.jumbotron .clouds{		
		bottom: -54%;
    	width: 100%;
    	position: relative;
    	left: auto;
    	margin-left: 0;    	
	}
	#content .parents > div{
		float: none;
		width: 100%;
		text-align: center;
		margin-bottom: 70px;
	}
		#content .parents > div > p{
			text-align: center;
			max-width: 100%;
		}
	.img-topo{
		width: 100%;
		text-align: center;
		margin-top: 40px;
	}	
		.img-topo img{
			width: 100%;			
			position: inherit !important;
		}
	.jumbotron .content-right input[type=email], .jumbotron .content-right input[type=password]{
		width: 100%;
	}	
	#content .parents.tablet{
		display: none;
	}
}

.parent.tablet{
	display: none;
}

@media(min-width: 641px) and (max-width: 960px){
	.centralizer{
    	width:100%;
    	margin:0;    	
	}
	html, body{
		width: 100%;
	}
	.jumbotron .content-left,
	.jumbotron .content-right{
		float: none;
		width: 100%;
	}
	.jumbotron .content-left{
		min-height: 175px;
	}

	.jumbotron.active-slide1{
		min-height: 1300px;		
	}
	.jumbotron{
		background: #5BCCFF;
	}
	.jumbotron .clouds{				
    	width: 100%;
    	position: absolute;
    	left: 0;
    	margin-left: 0;    	
	}
	.jumbotron .divider{
		height: 286px;
	}	
	#content .parents > div{
		position: relative;
		float: left;
		width: 100%;
		text-align: center;
		margin-bottom: 70px;
	}
		#content .parents.common{
			display: none;
		}	
		#content .parents.tablet{
			display: block;
		}
		#content .parents > div > img{
			float: left;
			width: 100%;
		}
		#content .parents > div > p{
			text-align: center;
			max-width: 100%;
			position: absolute;
			left: 48%;
    		top: 45%;
		}
	.img-topo{
		width: 100%;
		text-align: center;
		margin-top: 40px;
	}	
		.img-topo img{
			width: 100%;			
			position: inherit !important;
		}
	.jumbotron .content-right input[type=email], .jumbotron .content-right input[type=password]{
		width: 100%;
	}	
}	